




   <link rel="stylesheet" href="/stylesheets/admin.css">

{{>admin-header}}
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        
        {{!-- <div class="products-catagories-area clearfix" > --}}
        
            {{!-- <div class="amado-pro-catagory clearfix">{{#each home}} --}}
                <!-- Single Catagory -->
               <div class="contain">
            <div class="cart-table-area ">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-7">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title ">
                                <h2>ADD PRODUCT</h2>
                            </div>

                            <form method="post" action="/admin/product-add" enctype="multipart/form-data">
                                <div class="row">
                                    
                                    <div class="col-12 mb-3">
                                        <input type="text" name="pname" class="form-control" id="name" placeholder="Product Name" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="brand" class="form-control" id="brand" placeholder="Brand" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <select class="w-100" id="country" name="category">
                                            <option value="" selected>category</option>
                                          {{#each categoryData}}
                                    
                                       <option value="{{category}}">{{category}}</option>
                                       {{/each}}
                                    </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="price" class="form-control mb-3" id="price" placeholder="Price" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="stock" class="form-control" id="stock" placeholder="Stock" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="discount" class="form-control" id="discount" placeholder="Discount" value="">
                                    </div>
                                   
                                    <div class="col-12 mb-3">
                                        <textarea name="desc" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="enter a description about the product" noresize></textarea>
                                    </div>

                                    <div class="col-12 mb-3">
                                      <input style="line-height: 40px;" multiple class="mt-3 ms-2" style="width: 600px; line-height:20px; font-size: small;" type="file" name="image" id="file" accept="image/*" required/> 
    
                                    </div>
                                     <div>
                    <p class="text-danger">{{err}}</p>
                </div>
                
                                    <div class="d-flex justify-content-center">
                                    <div class="cart-btn ">
                                <button type="submit" class="btn amado-btn ">Add</a>
                            </div></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div></div>
    </div>


               


            {{!-- </div> --}}
        {{!-- </div></div> --}}
                <!-- Single Catagory -->
               
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->

    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
   



