/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
#searchResults{
  position: absolute;
  top: 85px;
  left: 322px;
  width: 40vw;
  max-height: 30vh;
  background-color: white;
  overflow-y: scroll;
}