 {{>user-header}}
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        

        
        <div class="products-catagories-area clearfix " >
             <div class="row">
            <div class="col-12 mb-4 mt-4 d-flex">
               
                 {{!-- <input type="text" class="form-control" id="search-box"  onkeyup="sendData(this)" style=" width:200px; border-radius:30px; background-color:#F5F7FA; margin-left:8px;"><i class="fa-solid fa-magnifying-glass " style="z-index:10;position: relative;top: 12px;right: 30px;"></i></div>
               
                <div >
                   
                    <div id="searchResults">

                    </div> --}}
                      {{!-- <img src="/img/userprofile.png" style="width: 70px;"> --}}
                     <script>
                        function sendData(e){
                            const searchResults=document.getElementById('searchResults');
                            let match=e.value.match(/^[a-zA-Z ]*/);
                            let match2=e.value.match(/\s*/);
                            if(match2[0]==e.value){
                                searchResults.innerHTML='';
                                return;
                            }
                             if(match[0]==e.value){
                              fetch('getProducts',{
                                method:'POST',
                                headers:{'Content-Type':'application/json'},
                                body:JSON.stringify({payload:e.value})
                            }).then(res=>res.json()).then(data=>{
                                let payload=data.payload;
                                console.log("payyyloaad",payload)
                                searchResults.innerHTML='';
                                if(payload.length<1){
                                    searchResults.innerHTML='<p>Sorry. Nothing found</p>';
                                    return;
                                }else{
                                    if(payload.length>0) searchResults.innerHTML='';
                                  payload.forEach((item,index)=>{
                                     searchResults.innerHTML+='<hr>';
                                    console.log(item.pname)
                                    searchResults.innerHTML += `<div class="" onClick="window.location.href='/product-details/${item._id}'" <p>${item.pname}</p></div>`
                                   
                                    
                                     //<img src = '/product-images/${item.image[0]}.jpg' width='100px'><p class='p-2'>${item.pname}</p></div>`;
                                    
                                });  
                                }
                                
                             });
                           return
                             }
                         
                           
                        }
                     </script>


                </div>
                <img src="/banner-images/banner.jpg" width="100%">
            </div>
                        <div class="amado-pro-catagory clearfix">
               
                {{#each data}}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix mt-5" style="border: 2px solid white">
                    <a href="/product-details/{{this._id}}">
                        <img src="/product-images/{{this.image.[0]}}.jpg" width="100px " height="100px" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            
                            <h4>{{this.pname}}</h4>
                            {{!-- <h5>{{discount}}% off</h5> --}}
                        </div>
                    </a>
                </div>
            {{/each}}
            </div>
        </div>
        

        </div></div>
        {{#if loggedIn}}
          <script>
            function sweetalert(){
                Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Your work has been saved',
  showConfirmButton: false,
  timer: 1500
})
            }
          </script>{{/if}}
                <!-- Single Catagory -->
               
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
   {{>user-footer}}