 <section class="vh-100 bg-image" style="background-color: white;"
  {{!-- style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');"> --}}
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">USER LOGIN</h2>

              <form method="post" action="/user-login">

                <div class="form-outline mb-2">
                  <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" style="background-color:#DCDCDC;"/>
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-2">
                  <input type="text" name="password" id="form3Example4cdg" class="form-control form-control-lg" style="background-color:#DCDCDC;"/>
                 
                  <label class="form-label" for="form3Example4cdg">Password</label>
                  <a href="/password-otp" style="float:right;  font-size:15px">Forgot password?</a>
                  </div>
                
                 <div>
                    <p class="text-danger">{{err}}</p>
                </div>


                <div class="d-flex justify-content-center">
                  
                    <button type="submit" class="btn btn-dark btn-lg mb-1">Submit</button><br>
                    </div> <div  class="text-center ">
                     <a href="/otp-login" style="text-decoration: none;">OTP Login</a>
                    </div></div>
                   
              
              </form>
              
                    
               
 
                     
 <p class="text-center text-muted ">Do not have an account? <a href="/user-signup"
                    class="fw-bold text-body"><u>Register here</u></a></p>

               
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>